/* Forgot Password Page */
.forgot-password-page {
  composes: page-wrapper;
}

.forgot-password-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 400px;
  width: 100%;
  position: relative;
}

.forgot-password-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #f55f55; /* Button background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #d44d44; /* Button hover color */
}

.form-links {
  text-align: center;
  margin-top: 10px;
}

.form-links a {
  color: #f55f55;
  text-decoration: none;
  font-size: 16px;
}

.form-links a:hover {
  text-decoration: underline;
}
